Repository RisingSunLight42/TD2_TRAVaie_PtiCuisto, pull requests merged in 2023-11, with the labels that each got.

#35 Add solo recipe display
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/recipeView.php
Labels: enhancement, php, HTML, database

#36 Add welcome page content
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/accueilView.php
Labels: enhancement, php, HTML

#39 Connection
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/accountView.php
  assets/php/views/allRecipesView.php
  assets/php/views/connectionView.php
  assets/php/views/welcomeView.php
  index.php
Labels: enhancement, php, HTML, database

#40 Add prepared requests
  assets/php/controllers/controller.php
  assets/php/model/model.php
  index.php
Labels: bug, enhancement, php, database

#43 ✅ Documentation on model & controller
  assets/php/controllers/controller.php
  assets/php/model/model.php
Labels: documentation

#47 Add disconnection
  assets/php/controllers/controller.php
  assets/php/views/accountView.php
  index.php
Labels: enhancement, php

#48 Add recipe deletion
  assets/php/controllers/controller.php
  assets/php/model/model.php
Labels: enhancement, php, database

#49 Add recipe creation
  README.md
  assets/css/style.css
  assets/js/allIngredients.js
  assets/js/autocompletion.js
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/accueilView.php
  assets/php/views/allRecipesView.php
  assets/php/views/recipeCreationView.php
  index.php
Labels: enhancement, php, JS, HTML, CSS, database

#51 ➕ Add handle for user id creation
  assets/php/controllers/controller.php
  assets/php/model/model.php
Labels: enhancement, php

#52 Add recipe edition
  assets/css/style.css
  assets/js/allIngredients.js
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/recipeCreationHandlingView.php
  assets/php/views/recipeCreationView.php
  assets/php/views/recipeEditionView.php
  index.php
Labels: enhancement, php, database

#53 Add possibility to change the edito
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/accountView.php
  assets/php/views/recipeCreationView.php
  index.php
Labels: enhancement, php, database

#54 Add filters
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/filterView.php
  index.php
Labels: enhancement, php, HTML, database

#56 Add validation and rejection for recipes
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/accountView.php
  assets/php/views/connectionView.php
  assets/php/views/recipeCreationView.php
  assets/php/views/recipeEditionView.php
  index.php
Labels: enhancement, php, database

#55 Bootstrap
  assets/css/bootstrap.css
  assets/css/style.css
  assets/images/Facebook_icon.svg
  assets/images/Pticuisto_icon.ico
  assets/images/github.png
  assets/images/linkedin.png
  assets/images/twitter.png
  assets/php/controllers/controller.php
  assets/php/model/model.php
  assets/php/views/accountView.php
  assets/php/views/allRecipesView.php
  assets/php/views/connectionView.php
  assets/php/views/filterView.php
  assets/php/views/footer.php
  assets/php/views/head.php
  assets/php/views/header.php
  assets/php/views/recipeCreationHandlingView.php
  assets/php/views/recipeCreationView.php
  assets/php/views/recipeView.php
  assets/php/views/welcomeView.php
  assets/scripts/app.js
  index.php
Labels: php, CSS

#57 Miscellaneous
  .htaccess
  README.md
  assets/images/mld.png
  assets/php/.htaccess
  assets/scripts/app.js
Labels: documentation, enhancement

#58 Add better stylisation
  assets/css/style.css
  assets/js/bootstrap.js
  assets/php/controllers/controller.php
  assets/php/views/accountView.php
  assets/php/views/accueilView.php
  assets/php/views/allRecipesView.php
  assets/php/views/connectionView.php
  assets/php/views/filterView.php
  assets/php/views/footer.php
  assets/php/views/head.php
  assets/php/views/header.php
  assets/php/views/recipeCreationHandlingView.php
  assets/php/views/recipeCreationView.php
  assets/php/views/recipeEditionView.php
  assets/php/views/recipeView.php
  assets/php/views/welcomeView.php
Labels: enhancement, php, CSS

#60 Refactoring
  assets/css/style.css
  assets/js/autocompletion.js
  assets/php/controllers/controller.php
  assets/php/model/BaseModel.php
  assets/php/model/EditoModel.php
  assets/php/model/IngredientsModel.php
  assets/php/model/NeededIngredientsModel.php
  assets/php/model/NeededIngredientsStashModel.php
  assets/php/model/RecipesModel.php
  assets/php/model/RecipesStashModel.php
  assets/php/model/UsersModel.php
  assets/php/model/model.php
  assets/php/views/filterView.php
  assets/php/views/header.php
  assets/php/views/recipeCreationView.php
  assets/php/views/recipeEditionView.php
  assets/php/views/recipeView.php
  assets/php/views/welcomeView.php
Labels: documentation, enhancement, php, database
